
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html{
    font-size: 62.5%;
  }

  .toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
  }

  @media (max-width: 768px){
    html{
        font-size: 50%;
    }
}